name: macos

on: [push]

jobs:
  test:
    runs-on: macos-latest
    strategy:
      matrix:
        ruby: [ head, 3.4 ]
    timeout-minutes: 10
    env:
      RUBYOPT: --enable-frozen-string-literal --debug-frozen-string-literal
    steps:
    - uses: actions/checkout@v5
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Install dependencies
      run: |
        bundle install
    - name: Run test
      run: bundle exec rake test
