name: windows

on: [push]

jobs:
  test:
    runs-on: windows-latest
    strategy:
      matrix:
        ruby: [ '3.4' ]
    timeout-minutes: 10
    env:
      RUBYOPT: --enable-frozen-string-literal --debug-frozen-string-literal
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run test
      run: bundle exec rake test
